body {
  background-color: black; 
}
.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav .container {
  height: 25px;
}

.nav li {
  display: inline;
}

.nav-sm a {
  color: #0645AD;
  font-size: 50px;
  font-weight: bold;
  padding: 30px 35px;
  text-transform: uppercase;
}

.nav-sm .container {
  height: 70px;
}

.nav-sm li {
  display: inline;
}

.jumbotron {
  background-image:url('./assets/background.jpg');
  height: 400px;
  width: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.name-text {
  color: green;
}

.name-text h3 {
  font-weight: bold;
}

.name-text p {
  font-size: 20px;
}

.learn-more h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.projects {
  position: relative;
  top:50px;
  color: green;
}

.projects ul {
    list-style-type: none;
}

.projects .container {
  margin: auto;
  max-width: 1200px;
}

.projects .border {
  margin-top:10px;
  border: green medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
}






.jumbotron-farrar {
  background-image:url('./assets/farrar.jpg');
  height: 400px;
  width: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-farrar .container {
  position: relative;
  top:100px;
}

.jumbotron-farrar h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron-farrar p {
  font-size: 20px;
  color: #fff;
}

.farrar-more h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.farrar-more p {
  color: red;
}